@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

html,
body {
	background-color: #1b4c80;
}

body {
	/* display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer-left footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 11fr 1fr;
  margin: 0; */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

body {
	font-family: "Ropa Sans", sans-serif;
	line-height: 1.5;
	color: #f5f5f5;
}

#sapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* nav {
	border-bottom: 1px solid rgba(255, 62, 0, 0.1);
	font-weight: 300;
	padding: 0 1em;
	grid-area: header;
} */

nav,
footer {
	flex: 0 auto;
}

main {
	/* grid-area: main;
	max-width: 56em;
	min-height: auto;
	padding: 2em;
	margin: 0 auto;
  box-sizing: border-box; */
	flex: 1 auto;
}
/*
#footer-left {
	grid-area: footer-left;
}

footer {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	grid-area: footer;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}
